<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="timeline">

                <span class="timeline-label">
                    <span class="label label-primary">09.03.2016</span>
                </span>

                <div class="timeline-item">
                    <div class="timeline-point timeline-point-default">
                        <i class="fa fa-money"></i>
                    </div>
                    <div class="timeline-event">
                        <div class="timeline-heading">
                            <h4>이재명</h4>
                        </div>
                        <div class="timeline-body">
                            <p>출판 : 33, 간담 : 22, 의존 : 11</p>
                        </div>
                        <div class="timeline-footer">
                            <!-- <p class="text-right">2017-02-08T10:00:00</p> -->
                        </div>
                    </div>
                </div>

                <div class="timeline-item">
                    <div class="timeline-point timeline-point-default">
                        <i class="fa fa-money"></i>
                    </div>
                    <div class="timeline-event">
                        <div class="timeline-heading">
                            <h4>안희정</h4>
                        </div>
                        <div class="timeline-body">
                            <p>출판 : 33, 간담 : 22, 의존 : 11</p>
                        </div>
                        <div class="timeline-footer">
                            <!-- <p class="text-right">2017-02-08T10:00:00</p> -->
                        </div>
                    </div>
                </div>

                <div class="timeline-item">
                    <div class="timeline-point timeline-point-default">
                        <i class="fa fa-money"></i>
                    </div>
                    <div class="timeline-event">
                        <div class="timeline-heading">
                            <h4>문재인</h4>
                        </div>
                        <div class="timeline-body">
                            <p>출판 : 33, 간담 : 22, 의존 : 11</p>
                        </div>
                        <div class="timeline-footer">
                            <!-- <p class="text-right">2017-02-08T10:00:00</p> -->
                        </div>
                    </div>
                </div>

                <div class="timeline-item">
                    <div class="timeline-point timeline-point-default">
                        <i class="fa fa-money"></i>
                    </div>
                    <div class="timeline-event">
                        <div class="timeline-heading">
                            <h4>유승민</h4>
                        </div>
                        <div class="timeline-body">
                            <p>출판 : 33, 간담 : 22, 의존 : 11</p>
                        </div>
                        <div class="timeline-footer">
                            <!-- <p class="text-right">2017-02-08T10:00:00</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
